
<h1 style="text-align: center;" id="tableLabel">Conic Optimisation Results</h1>

<ng-container *ngIf="DATA&&DATA[0]">
    <table style="width:100%">
  <tr>
    <td><app-barplot [title]="'Primal'" [height]="height" [width]="width" [DATA]="DATA[0].x"></app-barplot></td>
    <td><app-barplot [title]="'Dual'" [height]="height" [width]="width" [DATA]="DATA[0].y"></app-barplot></td>
    <td><app-barplot [title]="'Complementary'" [height]="height" [width]="width" [DATA]="DATA[0].z"></app-barplot></td>
    <td><app-barplot (editChange)="newDatC($event)" [editvalues]="true" [title]="'Utility'" [height]="height" [width]="width" [DATA]="DATA[0].c"></app-barplot></td>
    <td><app-barplot (editChange)="newDatB($event)" [editvalues]="true" [title]="DATA[0].y.length+' Constraints'" [height]="height" [width]="width" [DATA]="DATA[0].b"></app-barplot></td>
  </tr>
  <tr>
  <td>&tau;={{format(DATA[0].tau)}}</td>
  <td>&kappa;={{format(DATA[0].kappa)}}</td>
  <td>Minimum step length: {{DATA[0].step}}<button (click)="sendStep()">Send</button><input class="step" style="width:40px" [min]="0" [max]="1" [value]="3"></td>

  </tr>
</table>

</ng-container>