
<h1 style="text-align: center;" id="tableLabel">Conic Optimisation Results</h1>

<ng-container *ngIf="DATA&&DATA[0]">
<button style="width:50%" (mouseover)="over($event,true)" (mouseleave)="over($event)" (click)="sendStep()">Send New Optimisation Parameters</button>
    <table style="width:100%">
  <tr>
    <td><app-barplot [title]="'Primal'" [height]="height" [width]="width" [DATA]="DATA[0].x"></app-barplot></td>
    <td><app-barplot [title]="'Dual'" [height]="height" [width]="width" [DATA]="DATA[0].y"></app-barplot></td>
    <td><app-barplot [title]="'Complementary'" [height]="height" [width]="width" [DATA]="DATA[0].z"></app-barplot></td>
    <td><app-barplot (editChange)="newDatC($event)" [editvalues]="true" [title]="'Utility'" [height]="height" [width]="width" [DATA]="DATA[0].c"></app-barplot></td>
    <td><app-barplot (editChange)="newDatB($event)" [editvalues]="true" [title]="DATA[0].y.length+' Constraints'" [height]="height" [width]="width" [DATA]="DATA[0].b"></app-barplot></td>
  </tr>
  <tr>
  <td>&tau;={{format(DATA[0].tau)}}</td>
  <td>&kappa;={{format(DATA[0].kappa)}}</td>
  <td><div *ngIf="DATA[0].kappa>1000*DATA[0].tau" style="color:red;font-size:30px" >INFEASIBLE</div></td>
  <td>Minimum step length: {{DATA[0].step}}<input class="step" style="width:5em" [min]="0" [max]="1" [value]="DATA[0].step"></td>
  <td></td>
  </tr>
  <ng-container *ngIf="DATA[0].kappa<=1000*DATA[0].tau">
  <tr >
  <td>
  Primal: {{format8(primal)}}
  </td>
  <td>
  Dual: {{format8(dual)}}
  </td><td></td><td></td>
  <td style="text-align:justify">
  {{DATA[0].version}}
  </td>
  </tr>
  </ng-container>
</table>

</ng-container>